<h1>New survey</h1>

<% form_for(@survey) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :facebook_id %><br />
    <%= f.text_field :facebook_id %>
  </p>
  <p>
    <%= f.label :q1 %><br />
    <%= f.text_field :q1 %>
  </p>
  <p>
    <%= f.label :q2 %><br />
    <%= f.text_field :q2 %>
  </p>
  <p>
    <%= f.label :q3 %><br />
    <%= f.text_field :q3 %>
  </p>
  <p>
    <%= f.label :q4 %><br />
    <%= f.text_field :q4 %>
  </p>
  <p>
    <%= f.label :q5 %><br />
    <%= f.text_field :q5 %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', surveys_path %>
